@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components{
  .div{
    @apply bg-green-950 text-center flex flex-col justify-center items-center text-stone-50
  }
  .input{
    @apply text-center
    flex justify-center items-center bg-amber-700
  }
}